<h1>Web Scraper Project</h1>
    {{#each articles}}
    <div class="article">
    <h3 class="article-header">{{this.text}}</h3>
    <a href="{{this.link}}" target="_blank">Link to article</a>
    <input type="text"></input>
    <button>Add Comment</button>
    <button>Save Article</button>
    </div>
    {{/each}}
    